body{
    padding: 0;
    margin: 0;
    background: #c7c18d;
}
.container{
    border-bottom: 2px solid #292942;
    box-shadow:  0 0px 4px rgba(0, 0, 0, 0.15);
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%,-50%);
}
.container:focus-within{
    border-bottom: 2px solid #00c711;
}
.password{
    margin: 0;
    padding: 8px 12px 8px 8px;
    border: 0;
    width: 200px;
    border: none;
    background: none;
}
.password:focus{
    outline: 0;
    border: none;
    background: none;
}
span{
    position:absolute;
    top: 0;
    left: 218px;
    float: right;
    background:#fff;
    cursor:pointer;
    padding:6.5px;
    border: none;
    background: none;
    margin: 0;
}